@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500&display=swap');

@tailwind base;

@tailwind components;

.header-cover {
  background: linear-gradient(#343a40, #495057);
}

@tailwind utilities;

html, body {
  min-height: 100%;
}

body {
  @apply .bg-gray-0 .text-gray-9;

  font-family: 'Rubik', sans-serif;
  min-height: 100%;
}

@media (min-width: 640px) {
  body {
    background: linear-gradient(-45deg, #fff, #f8f9fa);
  }
}
