@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

@tailwind base;

html, body {
  min-height: 100%;
}

body {
  @apply .bg-gray-0 .text-gray-9;

  font-family: 'Rubik', sans-serif;
  min-height: 100%;
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(-45deg, #fff, #f1f3f5);
  }
}

@tailwind components;

@tailwind utilities;

.bg-gray-8-gray-7 {
  background: linear-gradient(#343a40, #495057);
}
